/* Basic */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
/* Header */
header {
  background: url("images/EXPLORE PH.png") no-repeat center center;
  background-size: cover;
  padding: 150px 20px;
  text-align: center;
  color: white;
}
  
  
/* Nav Bar */
nav {
  background-color: #3eacebba;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-size: large;  
  font-weight: bold;  
  transition: color 0.3s ease;
}

nav a:hover {
  color: #FFD700; /
}

  
/* Section */
section {
  padding: 10px 10px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}